*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content:center;
    align-items:center ;
    min-height: 100vh;
    background-size: cover;
    background: url('.jpg') no-repeat 30% 50%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
}
.logo{
 font-size: 2em;
 color:black;
 user-select: none;
 align-items: center;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color:black;
    text-decoration: none;
    font-weight: 500;
    margin-left: -10px;
    padding-left: 20px;
    margin-right: 30px;
}
.navigation a::after{
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    content:'';
    background: red;
    border-radius: 5px;
    transform: scaleX(0);
   transition: transform 2s;
    transform-origin: right;
}
.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.navigation a:hover{
    background:red;
}
.navigation1 .login{
    width: 130px;
    height: 50px;
    background:transparent;
   border-radius: 6px;
   border: 2px solid #fff;
   outline: none;
   font-size: 1.1rem;
   color:black;
   cursor: pointer;
   transition: .5s;
   font-weight: 500;
    margin-left: -670px;
}
.navigation1 .login:hover{
    background:red;
    color: black;
}

.wrapper{
    width: 330px;
    background:rgb(39, 39, 43);
    color:white;
    border-radius: 15px;
    margin-left: -28PX;
}
.wrapper{
    display: flex;
}
.form-login{
    display: ;
}
.wrapper h1{
    font-size: 40px;
    text-align: center;
}
.wrapper .input-box{
    width: 300px;
    height: 60px;
}
.input-box input{
    width: 80%;
    height: 80%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    
}
.input-box input::placeholder{
    text-align: center;
    color: #fff;
}
.input-box i{
  position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size:18px;
    margin: -5px 0 5px;
}   
.remember-forgot label input{
    accent-color: red;
    margin-right: 3px;
}
.remember-forgot a{
    color:red;
    text-decoration: none;  
    font-weight: 600;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background:transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(102, 99, 99, 0.1);
    cursor:pointer;
    font-weight: 1000;
    font-size: 15px;
    transition: .5s;
}
.wrapper .btn:hover{
    background: greenyellow;

}
.wrapper .register-link{
    font-size: 20px;
    text-align: center;
    margin-top: 20px 0 20px;
}
.register-link p a{
    color: red;
    text-decoration: none;
    font-weight: 600;
}    
.register-link p a:hover{
    text-decoration: underline;

}

.form-registration{
    display: flex;
    position: absolute;
   transform: translateX(500px);
   border-radius: 15px;
   background: rgb(68, 67, 67);
}
.wrapper .login-link{
    font-size: 20px;
    text-align: center;
    margin-top: 20px 0 20px;
}
.login-link p a{
    color: red;
    text-decoration: none;
    font-weight: 600;
}    
.login-link p a:hover{
    text-decoration: underline;

}
.navigation{
    margin-right: -50px;
    margin-left: 800px;
}
.para1{
 margin-right: 50%;
 margin-top: -23%;
 justify-content: space-between;
}